[Service]
LimitNOFILE={{ app_limit_nofile }}
RuntimeDirectory={{ app_runtime_directory }}
RuntimeDirectoryMode=0755
Environment=SERVER_APP_SOCK={{ app_unix_socket }}
Environment=GOGC={{ app_gogc }}
Environment=GOMEMLIMIT={{ app_gomemlimit }}
