{#
  サーバー上の ~/.ssh/config（GitHub 用）。

  Jinja 変数（group_vars/all.yml）:
    github_ssh_identity_file … サーバーに置いたデプロイ秘密鍵のパス
                               （例: /home/isucon/.ssh/id_ed25519）
#}
Host github.com
  HostName github.com
  User git
  IdentityFile {{ github_ssh_identity_file }}
  IdentitiesOnly yes
